<div class="container">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <a href="/listings/<%= listing.id %>">
            <img src="https://source.unsplash.com/random/airbnb?sig=<%= listing.id %>" class="card-img-top" alt="listing_image">
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="listing-favorite" data-controller="favourites" data-action="click->favourites#fire" data-favourites-link-value="/listings/<%= listing.id %>/favourites">
                <i class="fa-regular fa-heart"></i>
              </div>
              <p class="card-text"><%= number_to_currency(listing.price, unit: "SGD") %> per night</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
